:root {
  --text-font: "open sans", sans-serif;
  --tittle-font: Raleway;
  --accent-color: rgba(255, 108, 0, 1);
}

body {
  font-family: "open sans", sans-serif;
  color: #555555;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  /* max-width: 100%;
    height: auto; */
}

:focus {
  outline: none;
}

.container {
  width: 100%;
  max-width: 478px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    display: flex;
    padding: 0 15px;
    height: 100vp;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    align-items: center;
  }
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.description-dark-theme {
  color: #9da4bd;
}

.description-light-theme {
  color: #555555;
}

.modal-btn {
  border-width: 1px;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  border-color: var(--accent-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  transition: background-color 250ms linear 250ms;
  cursor: pointer;
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--accent-color);
  color: white;
}

.modal-btn_ligh-theme {
  color: black;
  transition: color 250ms linear 250ms, background-color 250ms linear 250ms;
  cursor: pointer;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #fff;
  position: relative;
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-color: #e5e5e5;
}

.modal-close:focus .modal-close-svg {
  fill: var(--accent-color);
}

.modal-close-svg {
  width: 20px;
  height: 20px;
}

.modal__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__form-name-input,
.modal__form-tel-input,
.modal__form-mail-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 40px;
}

.modal__form-message-input {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  resize: none;
  padding-top: 10px;
  padding-left: 10px;
  height: 76px;
  background-color: transparent;
}

.modal__form-message-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__form-message-input::placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-name,
.modal__form-tel,
.modal__form-mail,
.modal__form-message {
  position: relative;
  display: block;
  margin-bottom: 4px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__svg {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.modal__form-mail-input:focus + .form__svg,
.modal__form-tel-input:focus + .form__svg,
.modal__form-name-input:focus + .form__svg {
  fill: var(--accent-color);
}

.modal__form-mail-input:focus,
.modal__form-tel-input:focus,
.modal__form-name-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form__checkbox {
  display: block;
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.form__checkbox::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid;
  border-color: #212121;
}

.form__checkbox-input:checked + .form__checkbox::before {
  background-image: url(../images/modal/modal-checkbox-icon.svg);
  background-position: center;
  border: none;
  border-color: transparent;
}

.form__checkbox-input:checked:focus + .form__checkbox::before {
  border: 2px solid;
  border-radius: 2px;
  border-color: #474040;
}

.form__checkbox-input:focus + .form__checkbox::before {
  border: 2px solid;
  border-radius: 2px;
  border-color: var(--accent-color);
}

.modal__link {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
}

.modal__link:focus {
  outline: none;
  color: var(--accent-color);
}

.form__button {
  display: block;
  border-width: 1px;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  border-color: var(--accent-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: black;
  background-color: transparent;
  cursor: pointer;
  margin: 0 auto;
}

.form__button:focus {
  color: white;
  background-color: var(--accent-color);
  outline: none;
}

.box-for-flex {
  display: flex;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.social_list {
  display: flex;
  align-items: center;
}

.social_list::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: #303030;
}

.social_list-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms linear 250ms;
}

.social_list-link:hover, .social_list-link:focus {
  color: var(--accent-color);
}

.subtittle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.subtittle::before {
  content: "";
  margin-right: 20px;
  display: block;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.subtittle_dark-theme {
  color: rgba(157, 164, 189, 0.6);
}

.subtittle_light-theme {
  color: #696d7d;
}

.tittle {
  font-family: var(--tittle-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: #303030;
}

.tittle_dark-theme {
  color: #ffffff;
}

.tittle_light-theme {
  color: #303030;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  width: 100%;
}

.header .container {
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.logo-svg {
  fill: white;
  width: 68px;
  height: 55px;
}

.navigation-list {
  display: none;
}

.tel_link {
  display: none;
}

.header .modal-btn {
  display: none;
}

.header__burger-menu--svg {
  width: 24px;
  height: 16px;
  fill: white;
}

.header__burger-menu--btn {
  background-color: transparent;
  border: none;
  display: block;
}

@media screen and (min-width: 768px) {
  .logotype {
    margin-right: 64px;
  }
  .header__burger-menu--btn {
    display: none;
  }
  .navigation {
    padding: 0;
  }
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .tel_link {
    display: block;
  }
  .header .modal-btn {
    display: block;
  }
  .navigation_list-item {
    margin-right: 10px;
  }
  .navigation_list-item:not(:last-child) {
    margin-right: 24px;
  }
  .navigation_list-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.1em;
    color: #ffffff;
    transition: color 250ms linear;
  }
  .navigation_list-link:hover, .navigation_list-link:focus {
    color: var(--accent-color);
  }
  .header__box-for-tel {
    margin-left: auto;
    padding-right: 15px;
  }
  .header__box-for-tel .modal-btn {
    margin-bottom: 20px;
  }
  .tel_link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    transition: color 250ms linear;
    text-align: center;
  }
  .logo-svg {
    fill: black;
  }
  .navigation {
    padding-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  header {
    /* background-color: #555555; */
    padding-right: 15px;
    position: absolute;
    width: 100%;
  }
  header .container {
    display: flex;
    align-items: center;
    min-height: 88px;
  }
  .logotype {
    margin-right: 71px;
    animation-duration: 1000ms;
    /* animation-iteration-count: infinite; */
  }
  .logo-svg {
    width: 68px;
    height: 55px;
  }
  .navigation {
    display: flex;
  }
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .navigation_list-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.1em;
    color: #ffffff;
    transition: color 250ms linear;
  }
  .navigation_list-link:hover, .navigation_list-link:focus {
    color: var(--accent-color);
  }
  .navigation_list-item:not(:last-child) {
    margin-right: 40px;
  }
  .tel_link {
    margin-left: auto;
    margin-right: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    transition: color 250ms linear;
  }
  .tel_link:hover, .tel_link:focus {
    color: var(--accent-color);
  }
  .header__box-for-tel {
    display: flex;
    align-items: baseline;
  }
  .header__box-for-tel .modal-btn {
    margin: 0;
    order: 2;
  }
}

.hero {
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("./images/hero/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 206px;
  height: 100vh;
  padding-bottom: 183px;
  background-color: #704d4d;
}

.hero .subtittle {
  margin-bottom: 20px;
}

.hero .container {
  display: flex;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("./images/hero/bg-mobile@2x.jpg");
  }
}

.hero_tittle {
  font-family: Raleway;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
}

.hero-left-side {
  display: none;
}

.hero-right-side__content-box {
  max-width: 306px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .hero {
    background: none;
    padding: 0;
  }
  .hero-left-side {
    height: 100vh;
    min-width: 100px;
    display: flex;
    align-items: center;
  }
  .hero-right-side {
    height: 100vh;
    flex-grow: 1;
    padding-top: 206px;
    padding-left: 120px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/bg-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-right-side {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../../images/hero/bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .social_list {
    position: absolute;
    display: flex;
    transform: rotate(-90deg);
    margin-left: 40px;
    margin-bottom: 40px;
    transform-origin: left;
    bottom: 0;
    align-items: center;
  }
  .social_list-item:not(:last-child) {
    margin-right: 20px;
  }
  .hero-right-side__content-box {
    min-width: 390px;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .hero .social_list-link {
    font-size: 14px;
  }
  .hero_tittle {
    font-size: 72px;
    line-height: 85px;
  }
  .hero-right-side {
    padding-top: 272px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../../images/hero/bg-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-right-side {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../../images/hero/bg-desktop@2x.jpg");
  }
}

.about .tittle {
  font-size: 28px;
  margin-bottom: 20px;
}

.about .subtittle {
  margin-bottom: 20px;
}

.about .description {
  margin-bottom: 20px;
}

.about-left-side {
  display: none;
}

.about-right-side {
  padding: 84px 15px;
}

.about_text {
  margin-bottom: 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .about-left-side {
    display: flex;
  }
}

.services .container {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #111319;
  background-image: url("../images/services/services_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.services .subtittle {
  margin-bottom: 20px;
}

.services .tittle {
  margin-bottom: 44px;
}

.services_left-list {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.servises_right-list {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services_left-list,
.servises_right-list {
  flex-grow: 1;
  padding: 30px 40px;
}

.services_left-list-item,
.sevices_right-list-item {
  display: flex;
  justify-content: space-between;
}

.services_left-list-item:not(:last-child),
.sevices_right-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.services_left-list-service,
.services_left-list-prise,
.serices_right-list-service,
.serices_right-list-price {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.services .box-for-flex {
  margin-bottom: 50px;
}

.services .modal-btn {
  margin: 0 auto;
  display: block;
}

.advantages .container {
  display: flex;
  margin-top: 121px;
  margin-bottom: 130px;
}

.advantages_list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  margin-left: 115px;
}

.advantages_list-item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
}

.advantages_list-item:nth-child(odd) {
  margin-right: 30px;
}

.advantages_list-item:nth-child(even) {
  margin-top: 30px;
}

.advantages_right-side {
  margin-left: 130px;
}

.advantages_list-number {
  display: flex;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.357;
  letter-spacing: 0.05em;
  color: #303030;
  width: 80px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 6px;
  justify-content: center;
}

.advantages_list-number::after {
  content: "+";
  color: orangered;
  font-size: 16px;
  align-items: flex-start;
}

.advantages_list-benefits {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  color: #303030;
  width: 122px;
  margin: 0 auto;
  text-align: center;
}

.advantages_list-item:nth-child(4) .advantages_list-benefits {
  width: 130px;
}

.advantages .subtittle {
  margin-bottom: 20px;
}

.masters {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #f7f7f7;
}

.masters .subtittle {
  margin-bottom: 20px;
}

.masters .tittle {
  margin-bottom: 44px;
}

.masters_list {
  display: flex;
}

.masters_list-item:not(:last-child) {
  margin-right: 30px;
}

.masters_list-img {
  margin-bottom: 30px;
}

.masters_list-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.389;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
  text-align: center;
}

.masters_list-profession {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.357;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 30px;
}

.master_social-list {
  display: flex;
  justify-content: center;
}

.master_social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 250ms linear;
}

.master_social-list-link:hover, .master_social-list-link:focus {
  background-color: black;
}

.master_social-list-link:hover .master_social-list-svg,
.master_social-list-link:focus .master_social-list-svg {
  fill: var(--accent-color);
}

.master_social-list-item:not(:last-child) {
  margin-right: 10px;
}

.master_social-list-svg {
  transition: fill 250ms linear;
  width: 20px;
  height: 20px;
}

.galery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.galery .subtittle {
  margin-bottom: 44px;
}

.galery_list {
  display: flex;
}

.galery_list-item:not(:last-child) {
  margin-right: 30px;
}

.contact-form {
  flex-grow: 1;
  padding-top: 130px;
  padding-left: 56px;
  width: 655px;
  background-color: #191c26;
}

.contact-form .tittle {
  margin-bottom: 44px;
}

.contact-form .modal-btn:focus {
  outline: none;
  transition: 100ms linear;
}

.form {
  padding-right: 40px;
}

.form__name-input {
  margin-right: 30px;
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid;
  border-color: rgba(157, 164, 189, 0.4);
  margin-bottom: 44px;
}

.form__name-input:focus, .form__name-input:focus {
  outline: none;
  border-color: white;
}

.form__name-input:focus::placeholder,
.form__tel-input:focus::placeholder,
.form__message-input:focus::placeholder {
  color: white;
}

.form__tel-input {
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid;
  border-color: rgba(157, 164, 189, 0.4);
  margin-bottom: 44px;
}

.form__message-input {
  width: 100%;
  background-color: transparent;
  resize: none;
  height: 76px;
  border: none;
  border-bottom: 1px solid;
  border-color: rgba(157, 164, 189, 0.4);
  margin-bottom: 44px;
  color: white;
}

.form__message-input:focus {
  outline: none;
  border-color: white;
}

.form__message-input::placeholder,
.form__name-input::placeholder,
.form__tel-input::placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.contact-information {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #191c26;
  background-image: url("../images/contact-information/Bg.png");
  width: 625px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 100px;
}

.contact-information .tittle {
  padding-bottom: 40px;
}

.contact-information .subtittle {
  margin-bottom: 20px;
}

.contact-information_list-item:not(:last-child) {
  margin-bottom: 20px;
}

.address {
  margin-bottom: 70px;
}

.contact-information_list-item {
  display: flex;
  align-items: center;
}

.contact-information_list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contact-information_list-svg {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.contact-information_working-hours {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer {
  background-color: #f7f7f7;
}

.footer .container {
  min-height: 127px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 55px;
}

.footer_copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: #9da4bd;
  padding-left: 55px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  width: 100%;
  max-width: 350px;
  height: 100vh;
  padding-top: 118px;
  padding-left: 40px;
  border-radius: 6px;
  background-color: #96b6b6;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear;
}

.mobile-menu .modal-btn {
  display: block;
  color: #303030;
  margin-bottom: 64px;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.mobile-menu__list {
  margin-bottom: 64px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu__link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #303030;
}

.mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__tel {
  display: block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 24px;
}

.mobile-menu__tel:focus {
  color: var(--accent-color);
}

.burger-close__btn {
  position: absolute;
  top: 59px;
  right: 41px;
  background-color: transparent;
  border: none;
}

.burger-close__btn:focus .burger-close__svg {
  fill: var(--accent-color);
}

.burger-close__svg {
  width: 19px;
  height: 19px;
}

.mobile-menu__social-list {
  width: 300px;
  height: 62px;
}

.mobile-menu .box-for-flex::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
  transform: translateY(9px);
}

.mobile-menu__coocial-list-item {
  margin-bottom: 24px;
}

.mobile-menu__social-list-link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: #303030;
}

.mobile-menu__social-list-link:focus {
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */