.hero {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("./images/hero/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 206px;
  height: 100vh;

  padding-bottom: 183px;
  background-color: rgb(112, 77, 77);

  .subtittle {
    margin-bottom: 20px;
  }

  .container {
    display: flex;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url("./images/hero/bg-mobile@2x.jpg");
  }
}

.hero_tittle {
  font-family: Raleway;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
}

.hero-left-side {
  display: none;
}

.hero-right-side__content-box {
  max-width: 306px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .hero {
    background: none;
    padding: 0;
  }

  .hero-left-side {
    height: 100vh;
    min-width: 100px;
    display: flex;
    align-items: center;
  }

  .hero-right-side {
    height: 100vh;
    flex-grow: 1;
    padding-top: 206px;
    padding-left: 120px;

    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url("../images/hero/bg-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero-right-side {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url("../../images/hero/bg-tablet@2x.jpg");
    }
  }

  .social_list {
    position: absolute;
    display: flex;
    transform: rotate(-90deg);
    margin-left: 40px;
    margin-bottom: 40px;
    transform-origin: left;

    bottom: 0;
    align-items: center;
  }

  .social_list-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .hero-right-side__content-box {
    min-width: 390px;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    .social_list-link {
      font-size: 14px;
    }
  }

  .hero_tittle {
    font-size: 72px;
    line-height: 85px;
  }

  .hero-right-side {
    padding-top: 272px;

    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url("../../images/hero/bg-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero-right-side {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url("../../images/hero/bg-desktop@2x.jpg");
    }
  }
}
