.tittle {
  font-family: var(--tittle-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: #303030;
}

.tittle_dark-theme {
  color: #ffffff;
}

.tittle_light-theme {
  color: #303030;
}
